.LoginInfo{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    label{
        color: red;
    }
    .userinfo{
        margin: 94px 136px 44px;
    }
    .version1{
        
        .login{
            width: 437px;
            height: 58px;
            margin-bottom: 28px;
            #LoginInfo{
                width: 100%;
                height: 100%;
                border-radius: 7px;
                outline: 0;
                line-height: 58px;
                font-size: 24px;
                vertical-align: bottom;
                padding:0 10px;

            }
            
        }
        .Password{
            width: 437px;
            height: 58px;
            #Password{
                width: 100%;
                height: 100%;
                border-radius: 7px;
                line-height: 58px;
                font-size: 24px;
                vertical-align: bottom;
                padding: 0 10px;

            }
        }
    }
    .version0{
        span{
            color: #FFFFFF;
            font-size: 18px;
            font-weight: 100;
        }
        .login{
            width: 437px;
            height: 58px;
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            margin-bottom: 28px;
            #LoginInfo{                
                height: 100%;
                border-radius: 7px;
                outline: 0;
                line-height: 58px;
                font-size: 24px;
                vertical-align: baseline;
                padding:0 10px;
                
            }
            
        }
        .Password{
            width: 437px;
            height: 58px;
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            #Password{
                
                height: 50px;
                border-radius: 7px;
                line-height: 58px;
                font-size: 24px;
                vertical-align: baseline;
                padding: 0 10px;
                
            }
        }
    }
    .Button{
        width: 100%;
        height: 58px;
        display: flex;
        justify-content: center;
        align-items: center;
        // margin-top: 44px 0 52px 0;
       .Login{
           width: 211px;
           height: 100%;           
           border-radius: 24px;
           background: rgba(69, 90, 100, 1);
           font-weight: 400;
           font-size: 24px;
           line-height: 58px;
           /* identical to box height */               
           text-align: center;               
           color: #FFFFFF;
            margin-right: 26px;
            transition: all 0.3s;
            &:hover{
                background: #CFD8DC;
                border: 1px solid rgba(106, 106, 106, 0.53);
                color:  rgba(69, 90, 100, 1);
                font-weight: 400;
                cursor: pointer;

            }
       }

       .Register{  
           display: none;     
            height: 29px;
            font-size: 24px;
            font-weight: 400;
            line-height: 29px;
            letter-spacing: 0em;
            text-align: center;
            color: #FFFFFF;
            padding: 5px;
            /* box-sizing: border-box; */
            border-bottom: 2px solid #FFFFFF;
            cursor: pointer;
            transition: all 0.3s;
            &:hover{
                color: #CFD8DC;
                border-bottom: 2px solid #CFD8DC;
            }
       }
        

        
    }
}