.PayCover{
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 100;
    background-color: rgba($color: #000000, $alpha: 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    .codepic{
        width: 500px;
        height: 500px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 3fr 1fr;
        align-items: center;        
        justify-items: center;
        .qrcode{
            grid-column:1 / 3 ;
        }
        .close,.Status{
            width: 100px;
            height: 50px;
            border-radius: 20px;
            background-color: #fff;
            font-size: 15px;
            font-weight: 200;
            
            cursor: pointer;
            &:hover{
                background-color: rgba(69, 90, 100, 1);
                color: #fff;
            }
        }
    }
}